<div class="flex-column m-4 ">
  <div class=" h-[100px] bg-blue-700 flex justify-content-center items-center rounded-2xl">
    <h1 class="text-3xl font-bold text-cyan-50 ">
      Angular TODO APP
    </h1>
  </div>
  <form [formGroup]="taskForm">
    <div class="form-group my-2">
      <label for="TaskNAme">Task Name</label>
      <input formControlName="taskName"
             class="form-control"
             id="TaskName">
    </div>
    <div class="form-group my-2">
      <label for="description">Description</label>
      <textarea
        formControlName="description"
        class="form-control"
        id="description"
        rows="3"></textarea>
    </div>
    <div class="flex my-4">
      <div class="col-2 mr-4">
        <div class="input-group">
          <input
            id="textDate"
            formControlName="dueDateObj"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar" aria-hidden="true"></i></button>
        </div>
      </div>

      <button *ngIf="!this.isEditMode" type="submit"
              class="btn btn-primary"
              (click)="submitTask()">Add Task
      </button>

      <button *ngIf="this.isEditMode" type="submit"
              class="btn btn-warning"
              (click)="submitEditTask()">Update Task
      </button>
    </div>

    <div class="btn-group" role="group" aria-label="Badge buttons">
      <button type="button"
              class="btn"
              [class.btn-outline-primary]="status"
              [class.btn-primary]="!status"
              (click)="setStatus(false)">Show All
      </button>
      <button type="button"
              class="btn"
              [class.btn-outline-success]="!status"
              [class.btn-success]="status"
              (click)="setStatus(true)">Is Completed
      </button>
    </div>
  </form>
</div>
<div class="m-4">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">TaskName</th>
      <th scope="col">DueDate</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of tasks">
      <td>{{ item.id }}</td>
      <td>
        <input *ngIf="item.isComplete" class="form-check-input" type="checkbox" value="complete" id="flexCheckChecked1"
               (change)="toggleCompletion(item)"
               checked>

        <input *ngIf="!item.isComplete" class="form-check-input" type="checkbox" value="complete" id="flexCheckChecked2"
               (change)="toggleCompletion(item)"
        >
        {{ item.taskName }}
      </td>
      <td>{{ item.dueDateObj|date }}</td>
      <td>
        <div class="flex justify-evenly">
          <button class="btn btn-warning" (click)="this.editTaskMode(item.id)">Edit</button>
          <button class="btn btn-danger" (click)="this.deleteTask(item.id)">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination
    [collectionSize]=total
    [(page)]="currentPage"
    [pageSize]="pageSize"
    [directionLinks]="false"
    (pageChange)="loadTasks()"></ngb-pagination>
</div>
